.DS_Store
.idea/*
.vscode/*
/cli
logid
/rekor-cli
/rekor-server
/tests/rekor-server
/server
swagger
dist/*
hack/tools/bin/*
*fuzz.zip
docker-compose-sharding.yaml
sharding-config.yaml
rekorServerImagerefs
rekorCliImagerefs
trillianServerImagerefs
trillianSignerImagerefs
