*			@sigstore/rekor-codeowners

/.github/ 		@cpanato
/release/ 		@cpanato

/pkg/types/		@bobcallaway

# The CODEOWNERS are managed via a GitHub team, but the current list is (in alphabetical order):

# asraa
# bobcallaway
# dlorenc
# lukehinds
